[Unit]
Description=Mailgraph Daemon

[Service]
Type=forking
ExecStart=/usr/bin/mailgraph.pl -d -l /var/log/syslog --daemon-rrd /var/lib/mailgraph

[Install]
WantedBy=multi-user.target
